<h1>Add a Chore</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <label for="titleInput">Title</label><br />
  <input
    id="titleInput"
    type="text"
    [formControl]="form.controls['title']"
  /><br />
  <label for="descriptionInput">Description</label><br />
  <textarea
    id="descriptionInput"
    type="text"
    [formControl]="form.controls['description']"
  ></textarea
  ><br />
  <label for="weeklyInput">Weekly</label><br />
  <input
    id="weeklyInput"
    type="checkbox"
    [formControl]="form.controls['weekly']"
  /><br />
  <label for="letterInput">Letter</label><br />
  <input
    id="letterInput"
    type="text"
    [formControl]="form.controls['letter']"
  /><br />
  <button type="submit">Submit</button>
</form>
